# Auto detect text files and perform LF normalization
* text=auto

# Language Statistics Overrides
PC/Python/build/MacroHandler* linguist-documentation
screenshots/* linguist-documentation
*.gd linguist-detectable
